#data{
	
}
.group{
	margin-bottom: 200px;
}
.group>caption{
	margin-bottom: 50px;
	font-size: 2rem;
}
.group>tr:nth-child(even){
	background: #ffcc66;
}
.group>tr:nth-child(odd){
	background: #993300;
}
.group td, .group th{
	border:solid black 1px;
	width:75px;
	height:75px;
	color: white;
	text-align:center;
}
.void{
	background: gray;
}
.redact{
	resize:none;
	width:100%;
	height:100%;
}
